.contact-delete{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    margin-top: 50px;
  }
  .heading-delete{
    padding-bottom: 150px;
  }
  .delete-button{
    width: 160px;
    cursor: pointer;
    background: #ff0000;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 35%;
  }
  
.contact-button:hover {
  background: rgb(30, 168, 218);
}